@import url('https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler-flags.min.css');

@import url('https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler-payments.min.css');

@import url('https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler-social.min.css');

@import url('https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler-vendors.min.css');

@import url('https://cdn.jsdelivr.net/npm/@tabler/core@1.2.0/dist/css/tabler.min.css');

/* Ocultar elementos inicialmente */
.oculto {
    opacity: 0;
    pointer-events: none; /* Evita interações enquanto a div está oculta */
    position: absolute; /* Garante que não ocupe espaço na tela */
}

/* Animação de fade-in */
.fade-in {
    opacity: 1;
    pointer-events: auto;
    position: relative;
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Definição da animação */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

